.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9f5;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #22614c;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.08);
}

li strong {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #222;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);


}

.btn {
  background-color: #3700ff4b;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);


}

.btn:hover {
  background-color: #0080b3bb;
}

